<div class="order-list">
  <div *ngFor="let order of orderList" class="order">

    <div  class="order-header">
      <div class="order-data">

        <div style="display: block">
          <label id="order-label" for="order-id">ORDER # </label>
          <div id="order-id">{{order["orderId"]}}</div>
        </div>


        <div class="info">
          <div>
            <label  for="order-date">DATA: </label>
            <p id = "order-date">{{order["date"] | date:'dd-MMMM'}}</p>
          </div>


          <div>
            <label id="total-label" for="total">TOTAL</label>
            <p id="total">${{order["orderTotal"]}}</p>
          </div>

          <div>
            <label id="sent-label" for="sentTo">SENT TO</label>
            <p id="sentTo">{{order["shippingAddr"]}}</p>
          </div>

        </div>


      </div>

      <div class="order-actions">
        <i class="fa-solid fa-circle-info action" style="margin-right: 10px"></i>
        <i class="fa-solid fa-file-invoice action"></i>
      </div>
    </div>

    <div class="order-content">
      <div *ngFor="let item of order['products']" class="order-item">
        <div class="product-detail">
          <img src="" alt="" class = "product-image">
          <div class="product-info">
            <p class="product-name">{{item["name"]}}</p>
            <p class="product-price">${{item["price"]}}</p>
            <p class="product-qty">Quantity: {{item["qty"]}}</p>
            <p class="product-total">Total: ${{item["qty"] * item["price"]}}</p>
            <p *ngIf="!order['canBeReturned']">Reso Scaduto</p>
          </div>


        </div>

        <div class="product-actions">
          <button *ngIf="order['canBeReturned']" class="btn btn-small-but-medium btn-no-border btn-success">Reso</button>
          <button class="btn btn-small-but-medium btn-no-border btn-success">Recensione</button>
          <button class="btn btn-small-but-medium btn-no-border btn-success">Contatta Venditore</button>
        </div>
      </div>





    </div>

  </div>
</div>
