.login-container {
  width: 450px;
  height: 300px;
  border-radius: 15px;
  background: var(--text-color-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("/assets/bg-gradient.jpg");
  filter: blur(1.5rem);
  background-color: transparent;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input {
  margin-bottom: 10px;
}

.form-control-text {
  padding: 10px;
  height: 22px;
  width: 250px;
  font-size: 18px;
  background: var(--bg-color-v2);
}

input:focus {
  outline: none;
}

.input-group i {
  background: var(--background-color);
}

.icon {
  background: var(--background-color);
  padding: 12px;
  position: absolute;
  left: 45px;

}
