<header *ngIf="showNav">
  <div class="header_inner">
    <div class="logo">LOGO</div>
    <div class="header_searchbox">
      <div class="categorySelect">
        <select name="category" id="category">
          <option value="All">Tutti</option>
          <option value="smartphone">Smartphone</option>
          <option value="computer">Computer</option>
          <option value="smarttv">SmartTV</option>
        </select>
      </div>
      <input type="text" name="searchBox" id="searchBox">
    </div>
    <div class="header_nav">
      <nav>
        <ul>
          <li>
            <div class="dropdown">
              <button class="dropdown_btn">Account</button>
              <div *ngIf="!isLogged" class="dropdown_content">
                <a routerLink="/login">Login</a>
                <a href="">Register</a>
              </div>

              <div *ngIf="isLogged" class="dropdown_content">
                <a routerLink="/user/profile">Profile</a>
                <a href="">Saved</a>
                <a (click)="logout()">Logout</a>
              </div>
            </div>
          </li>
          <li><a routerLink="user/orders">Resi e Ordini</a></li>
          <div class="cart">
            <button class="cart_btn" id="cartBtn" (click) = "openCartModal()"><i class="fa-solid fa-cart-shopping fa-xl"></i></button>
            <span class="cart_count"><span class="text-small">{{cartItemNum}}</span></span>
          </div>
        </ul>
      </nav>
    </div>
  </div>

</header>

<div id="toast"></div>

<div id="container" class="container">
  <router-outlet></router-outlet>
</div>

<app-cart-modal></app-cart-modal>
