<div class="container">
  <div class="header">
    <input id="search-box" type="text" class="text-box" placeholder="Search">
    <button class="btn btn-small-but-medium btn-success" (click)="newPromotion()">New Product</button>
  </div>
  <div class="products" *ngIf="promotionList.length > 0">
    <div class="head">
      <p class="div1">Code</p>
      <p class="div2">Discount</p>
      <p class="div3">Category</p>
      <p class="div4">Max Uses</p>
      <p class="div5">Times Used</p>
      <p class="div6">Expiration</p>
      <p class="div7">Actions</p>
    </div>
    <div class="item" *ngFor="let elem of promotionList">
      <span id="{{elem.couponCode}}"></span>
      <p class="div1">{{elem.couponCode}}</p>
      <p class="div2">{{elem.discount}}</p>
      <p class="div3">{{elem.category}}</p>
      <p class="div4">${{elem.maxUses}}</p>
      <p class="div5">{{elem.usedTimes}}</p>
      <p class="div6">{{elem.expiration | date:'dd-MMMM'}}</p>
      <div class="actions div7">
        <button class="btn btn-small btn-success btn-nobg" (click)="disablePromotion(elem.couponCode)"><i class="fa-solid fa-trash"></i></button>
        <button class="btn btn-small btn-success btn-nobg"><i class="fa-solid fa-pen-to-square" (click)="editPromotion(elem.couponCode)"></i></button>
      </div>
    </div>
  </div>
</div>

<app-generic-modal [isForm] = "true"></app-generic-modal>
