.product-section {
  width: 100%;
  height: 400px;
  display: flex;
}

.prod-img {
  width: 100%;
}

.product-imgs {
  width: 98%;
  height: 75px
}

.product-img {
  height: 100%;
  width: 98%;
}

.product-short-details {
  width: 500px;
  display: flex;
  height:fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.buttons {
  margin-top: 15px;
}


.ratings {
  margin-top: 5px;
}



.product-imgs, .product-img, .product-short-details {
  background-color: var(--bg-color-v2);
}

.store-name {
  font-size: 13px;
  margin-top: 5px;
  display: block;
}
a {
  text-decoration: none;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.text-small {
  font-size: 12px;
  font-weight: 600;
  display: inline;
}

.option-list {
  width: 100%;
  height: 60px;
  background-color: var(--background-color);
}

.review-section {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-v2);
  margin-top: 150px;
  padding: 15px;
}


/* MODAL */

.modalGeneric {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.modal_content {
  position: fixed;
  background-color: var(--bg-lighet-1);
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  animation-name: animate-top;
  animation-duration: 0.4s;
  width: 33%;
  height: fit-content;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_footer {
  padding: 2px 16px;
  background-color: var(--bg-color-v2);
  bottom: 0;
  position: fixed;
  width: 92%;
  height: 74px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.modal_header {
  padding: 2px;
  background-color: var(--bg-color-v2);
}

.modal_header h2 {
  margin-left: 15px;
}

.modal_body {
  padding: 2px 16px;
  height: 75%;
  overflow: hidden;
  overflow-y: auto;
}

@keyframes animate-top {
  from {top: -300px; opacity: 0;}
  to {top: 25%; opacity: 1;}
}


.review-text-area {
  resize: none;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
