<div class="heading">
    <p>My Profile</p>
    <button class="btn btn-small btn-no-border btn-accent" (click)="logout()">Logout</button>
</div>
<div class="line"></div>
<div class="profile">
    <div class="sidebar">
        <div class="user-img">
          <img ngSrc="{{user['thumbnailPath']}}" alt="user thumbnail" class="user-thumbnail" width="75" height="75">
            <p class="email" *ngIf="user">{{user["email"]}}</p>
        </div>
        <div class="side-nav">
            <ul>
                <li><button class="side-link side-link-active btn-nobg" (click)="showComponent = 'INFO'">Personal Info</button></li>
                <li><button class="side-link btn-nobg" (click)="showComponent = 'WISHLIST'">Billing & Payments</button></li>
                <li><button class="side-link btn-nobg">Wishlist</button></li>
                <li><button class="side-link btn-nobg">Reviews</button></li>
                <li><button class="side-link btn-nobg">Auctions</button></li>
            </ul>
        </div>
    </div>
    <div class="content">
      <app-info *ngIf="showComponent == 'INFO'"></app-info>
    </div>
</div>
<app-generic-modal [isForm] = "true"></app-generic-modal>


