<div class="container">
  <div>
    <p style="display: inline">Email: {{user["email"]}} </p>
    <button class="btn btn-small btn-nobg" (click)="edit('email')"><mat-icon>edit</mat-icon></button>
  </div>

  <div>
    <p style="display: inline">Edit password</p>
    <button class="btn btn-small btn-nobg" (click)="edit('password')"><mat-icon>edit</mat-icon></button>
  </div>

  <div>
    <p style="display: inline">Address</p>
    <button class="btn btn-small btn-nobg" (click)="edit('address')"><mat-icon>edit</mat-icon></button>
    <br>
    <p></p>
  </div>
</div>

